{% extends 'base.html.twig' %}

{% block body %}
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class="{{ type }}" role="alert">
				{{ message }}
			</div>

		{% endfor %}
	{% endfor %}

	<div class="row">
		<form class="col s12" method="POST">

			<div class="row">
				<div class="input-field col s12">
					<input id="email" type="email" class="validate" name="email">
					<label for="email">Email</label>
				</div>
			</div>

			<div class="row">
				<div class="input-field col s12">
					<input id="password" type="password" class="validate" name="password">
					<label for="password">Password</label>
				</div>
			</div>
			<input type="hidden" name="csrf_token" value="{{csrf_token('login_form') }}">

			<button type="submit" value=" sign in" class="btn btn-mdb-color">Se connecter</button>

		</form>
	</div>


{% endblock %}
{% block javascripts %}{% endblock javascripts %}
