{% extends 'base.html.twig' %}
{% block body %}
	{% for  type, label, messages in app.flashes %}
		{% for message in messages %}
			<div class="{{type}}" role="alert">
                {{ message }}
			</div>

		{% endfor %}
	{% endfor %}
{% endblock %}
{% block javascripts %}{% endblock javascripts %}
