{% extends 'base.html.twig' %}
{% form_theme formEquipe 'bootstrap_4_layout.html.twig'  %}
{% block body %}
<h1 class="text-center">Formulaire d'inscription au Tournoi</h1>

<div class="row">
    <div class="col s12 m6">
        <div class="card card-color ">
            <div class="card-content ">
                {{ form_start(formEquipe) }}

                {{form_widget(formEquipe) }}

                <button type="submit" class="btn btn-mdb-color">Valider</button>
                {{ form_end(formEquipe) }}

            </div>
        </div>
    </div>
</div>

{% endblock %}

