{% extends 'base.html.twig' %}
{% block body %}
    <section class="dark-grey-text">
        <h1>mon tournoi</h1>
        <div class="row pr-lg-5">
            <div class="col-md-7 mb-4">

                <div class="view">
                    <img src="images/image1.jpg" class="img-fluid" alt="smaple image">
                </div>

            </div>
            <div class="col-md-5 d-flex align-items-center">
                <div>

                    <h3 class="font-weight-bold mb-4">FOOT à 7</h3>
                    <p>Le foot 7 est la pratique idéale pour combiner plaisir et sensations ! Accessible à tous, il permet
                        de se retrouver entre amis ou collaborateurs autour d’une passion commune dans des infrastructures
                        de qualité.</p>


                </div>
            </div>
        </div>

    </section>

{% endblock %}