.card-title-p{
    margin-top: 3em;
}
body{
    font-family: Montserrat !important;
    background-color: #2bbbad61!important;
}

.nav-link{
    font-size: large;
}

.navbar {
    background-color: #2bbbada1;
    line-height: 25px;
}
nav ul a:hover {
    background-color:#26a69a6e;
}
.container-contact{
    background-color: #dee2e647;
    height: 450px;
    width: 900px;
}
.reservation-card{
    height: 400px;
    background-color: rgba(0, 0, 0, 0.21);
}

.blue {
    background-color: black !important;
}
.btn-suiv-prec{
    justify-content: center;
}
.btn-info {
    color: #fff;
    background-color: black !important;
}

.btn-mdb-color {
    background-color:#f44336 !important;
}

.card-top{
    margin-top: 20px; 
}
.card-color{
    background-color: #e0e0e0 !important;
}

.alert-message{
    color: red !important;
}

.card-panel-p{
    font-size: larger;
}

.card-color {
    background-color: #f8f9faeb !important;
}

label {
    font-size: 1.1em;
    color: #212529;
}
h1 {
    margin-bottom: 1.1em !important;
}

p{
    font-size: 1.2em !important;
    font-weight: inherit !important;
    color: rgba(0,0,0,.92) !important;
    text-align: justify !important;
   
}
.p-tournoi{
    font-size: inherit !important;  
    margin-top: 25px;
}

.p-panel-home{ 
    font-size: inherit !important;  
    text-align: initial !important;
}

.panel-home-detail{
    margin-top: 47px !important;
}

.card-title-panel{
    margin-top: 30px !important;
}

.addJoueur {
    color: #f44336 !important;
}
.supprimerJoueur{
    color: #f44336 !important;
}

.p-home{
    margin-top: 15px;
}

h4{
    color:#f44336;
    margin-bottom: 1em !important;
}

h5{
    color:#f44336;
}

.reservation-ul-margin{
    margin-top: 1em;
}

.jumbotron {
    background-color: #f8f9faeb !important;
}

.img-tournoi{
    width: 100%;
    margin-top: 30px;
}

.card{
    background-color: #f8f9fa00 !important;
    color: rgba(0,0,0,.92) !important;
}

.mon_id{
    border-bottom-style: double;
    margin-bottom: 3em;
}

.image-reservation{
    width: 100%;
    height: auto;
    margin-bottom: 2em;
}

.btn{
    margin-top: 5% !important;
    margin: auto !important;
}

.color-resulat-equipe{
    color: black !important;
}

.input-field>label {
    color: rgba(0,0,0,.92) !important;
}

.resultat-color{
    background-color: #2bbbad61!important;
}

.date-tournoi{
    color:#f44336 !important;
}

.btn-joueur{
    margin-left: 1% !important;
}

.btn-charger-resultat{
    margin-bottom: 5% !important;
}

.margin-resulat-equipe{
    margin-top: 35px;
    text-decoration: underline;
}


@media (max-width: 992px){
    .navbar-collapse{
        background-color:#2bbbad;
        z-index: 1;
    }
    h1 {
        font-size: 2em !important;
    }
    
}










